<div>
    <h1>Login</h1>
    <form id="login-form">
        <h4>Username:</h4>
        <input type="text" id="username-login">
        <h4>Password:</h4>
        <input type="text" id="password-login">
        <br>
        <button type="submit">Submit</button>
    </form>

        <a href="/signup">Signup!</a>
</div>
<script src="/js/login.js">